services:
  postgres:
    container_name: eos-postgres
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: orders
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: apppass
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U appuser -d orders"]
      interval: 5s
      timeout: 3s
      retries: 20

  rabbitmq:
    container_name: eos-rabbitmq
    image: rabbitmq:3.13-management
    ports:
      - "5672:5672"
      - "15672:15672"
    healthcheck:
      test: ["CMD-SHELL", "rabbitmq-diagnostics -q ping"]
      interval: 5s
      timeout: 5s
      retries: 20

  migrator:
    container_name: eos-migrator
    image: postgres:16-alpine
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      PGPASSWORD: apppass
    volumes:
      - ./migrations:/migrations:ro
    command: >
      sh -c "for f in /migrations/*.sql; do
              echo Applying $$f;
              psql -h postgres -U appuser -d orders -f $$f;
            done"
    restart: "no"

  api-gateway:
    container_name: eos-api-gateway
    build:
      context: .
      dockerfile: services/api-gateway/Dockerfile
    environment:
      COMMON_LOG_LEVEL: info
      HTTP_ADDR: ":8080"
      POSTGRES_DSN: "postgres://appuser:apppass@postgres:5432/orders?sslmode=disable"
      RABBIT_URL: "amqp://guest:guest@rabbitmq:5672/"
    ports:
      - "8080:8080"
    depends_on:
      migrator:
        condition: service_completed_successfully
      rabbitmq:
        condition: service_healthy

  outbox-worker:
    container_name: eos-outbox
    build:
      context: .
      dockerfile: services/outbox-worker/Dockerfile
    environment:
      COMMON_LOG_LEVEL: info
      OUTBOX_HTTP_ADDR: ":8085"
      POSTGRES_DSN: "postgres://appuser:apppass@postgres:5432/orders?sslmode=disable"
      RABBIT_URL: "amqp://guest:guest@rabbitmq:5672/"
    ports:
      - "8085:8085"
    depends_on:
      migrator:
        condition: service_completed_successfully
      rabbitmq:
        condition: service_healthy

  inventory-service:
    container_name: eos-inventory
    build:
      context: .
      dockerfile: services/inventory-service/Dockerfile
    environment:
      COMMON_LOG_LEVEL: info
      POSTGRES_DSN: "postgres://appuser:apppass@postgres:5432/orders?sslmode=disable"
      RABBIT_URL: "amqp://guest:guest@rabbitmq:5672/"
    depends_on:
      rabbitmq:
        condition: service_healthy
      outbox-worker:
        condition: service_started

  payment-service:
    container_name: eos-payment
    build:
      context: .
      dockerfile: services/payment-service/Dockerfile
    environment:
      COMMON_LOG_LEVEL: info
      PAYMENT_FAIL_RATE: "30"
      POSTGRES_DSN: "postgres://appuser:apppass@postgres:5432/orders?sslmode=disable"
      RABBIT_URL: "amqp://guest:guest@rabbitmq:5672/"
    depends_on:
      rabbitmq:
        condition: service_healthy
      inventory-service:
        condition: service_started

  shipping-service:
    container_name: eos-shipping
    build:
      context: .
      dockerfile: services/shipping-service/Dockerfile
    environment:
      COMMON_LOG_LEVEL: info
      POSTGRES_DSN: "postgres://appuser:apppass@postgres:5432/orders?sslmode=disable"
      RABBIT_URL: "amqp://guest:guest@rabbitmq:5672/"
    depends_on:
      rabbitmq:
        condition: service_healthy
      payment-service:
        condition: service_started

  order-status-service:
    container_name: eos-order-status
    build:
      context: .
      dockerfile: services/order-status-service/Dockerfile
    environment:
      COMMON_LOG_LEVEL: info
      ORDER_STATUS_HTTP_ADDR: ":8090"
      POSTGRES_DSN: "postgres://appuser:apppass@postgres:5432/orders?sslmode=disable"
      RABBIT_URL: "amqp://guest:guest@rabbitmq:5672/"
    ports:
      - "8090:8090"
    depends_on:
      migrator:
        condition: service_completed_successfully
      rabbitmq:
        condition: service_healthy

  prometheus:
    container_name: eos-prometheus
    image: prom/prometheus:v2.55.0
    volumes:
      - ./observability/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"
    depends_on:
      - api-gateway
      - outbox-worker
      - order-status-service

  grafana:
    container_name: eos-grafana
    image: grafana/grafana:11.2.0
    ports:
      - "3000:3000"
    volumes:
      - ./observability/grafana/provisioning:/etc/grafana/provisioning:ro
    depends_on:
      - prometheus
